@import './footer.scss';
@import './header.scss';
@import './main.scss';


$font-stack: 'Philosopher', sans-serif;
$primary-color: #000000;


* {
    box-sizing: border-box;

    html {
        scroll-behavior: smooth;
    }

    body {
        background: #fffff8;
        padding: 0;
        margin: 0;
    } 
}        


.app {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
    padding: 4rem 2rem;
}


.box {
    background-color: rgb(39, 39, 39);
    color: white;
    border: 4px solid inherit;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    max-width: 80%;
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
    font-family: 'Philosopher', sans-serif;
            
}

.hidden {
    display: none;
}

// HTML Reformatting

label{
    display:block;
    font-size: 27px;
    font-family: 'Pacifico', cursive;
    margin: 6px;
}

input{
    display:block;    
    background:#ffffff;
    color: #000000;
    font-size: 20px;
    font-family: $font-stack;
    border: none;
    margin: 6px;
    padding: 10px;
    border-radius: 6px;
    width: 200px;
}

h1,
h2 {
    font-size: 36px;
    font-family: 'Pacifico', cursive;
}

p,
span,
.time-left {
    font-family: $font-stack;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #000000; 
    font-family: $font-stack;
} 
        
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #000000; 
    font-family: $font-stack;
} 
        
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #000000; 
    font-family: $font-stack;
} 
